@import 'bootstrap';
@import 'github-markdown-css';
@import '@fontsource/noto-sans-kr';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans CJK KR', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
